Aug 12 17:20:39 ubuntu devstack@keystone.service[2241745]: DEBUG keystone.server.flask.request_processing.middleware.auth_context [None req-9d9dc5cd-7b3a-498c-b82c-9427c5b4c1df service placement] Authenticating user token {{(pid=2241745) process_request /opt/stack/data/venv/lib/python3.12/site-packages/keystonemiddleware/auth_token/__init__.py:406}}
Aug 12 17:20:39 ubuntu devstack@keystone.service[2241745]: DEBUG keystone.common.fernet_utils [None req-9d9dc5cd-7b3a-498c-b82c-9427c5b4c1df service placement] Loaded 2 Fernet keys from /etc/keystone/fernet-keys/, but `[fernet_tokens] max_active_keys = 3`; perhaps there have not been enough key rotations to reach `max_active_keys` yet? {{(pid=2241745) load_keys /opt/stack/keystone/keystone/common/fernet_utils.py:297}}
Aug 12 17:20:39 ubuntu devstack@keystone.service[2241745]: DEBUG keystone.server.flask.request_processing.middleware.auth_context [None req-9d9dc5cd-7b3a-498c-b82c-9427c5b4c1df service placement] Validating token access rules against request {{(pid=2241745) validate_allowed_request /opt/stack/data/venv/lib/python3.12/site-packages/keystonemiddleware/auth_token/__init__.py:544}}
Aug 12 17:20:40 ubuntu devstack@keystone.service[2241745]: DEBUG keystone.server.flask.request_processing.middleware.auth_context [None req-d6a5f8b7-8b48-4569-8bc7-1c2aab734340 service placement] RBAC: auth_context: {'token': <TokenModel (audit_id=0g0pSK9aTvuOOJYchaBHDA, audit_chain_id=['0g0pSK9aTvuOOJYchaBHDA']) at 0x78503f2af860>, 'domain_id': None, 'trust_id': None, 'trustor_id': None, 'trustee_id': None, 'domain_name': None, 'group_ids': [], 'user_id': 'aecbbaa1037a40138d5edd62a17c349b', 'user_domain_id': 'default', 'system_scope': None, 'project_id': '4063cfb8c04640ed9a601c07486c0fc8', 'project_domain_id': 'default', 'roles': ['service', '******', 'manager', 'member', 'reader'], 'is_******_project': True, 'service_user_id': None, 'service_user_domain_id': None, 'service_project_id': None, 'service_project_domain_id': None, 'service_roles': []} {{(pid=2241745) fill_context /opt/stack/keystone/keystone/server/flask/request_processing/middleware/auth_context.py:516}}
Aug 12 17:20:40 ubuntu devstack@keystone.service[2241745]: DEBUG keystone.server.flask.request_processing.req_logging [None req-d6a5f8b7-8b48-4569-8bc7-1c2aab734340 service placement] REQUEST_METHOD: `GET` {{(pid=2241745) log_request_info /opt/stack/keystone/keystone/server/flask/request_processing/req_logging.py:26}}
Aug 12 17:20:40 ubuntu devstack@keystone.service[2241745]: DEBUG keystone.server.flask.request_processing.req_logging [None req-d6a5f8b7-8b48-4569-8bc7-1c2aab734340 service placement] SCRIPT_NAME: `/identity` {{(pid=2241745) log_request_info /opt/stack/keystone/keystone/server/flask/request_processing/req_logging.py:27}}
Aug 12 17:20:40 ubuntu devstack@keystone.service[2241745]: DEBUG keystone.server.flask.request_processing.req_logging [None req-d6a5f8b7-8b48-4569-8bc7-1c2aab734340 service placement] PATH_INFO: `/v3/auth/tokens` {{(pid=2241745) log_request_info /opt/stack/keystone/keystone/server/flask/request_processing/req_logging.py:28}}
Aug 12 17:20:40 ubuntu devstack@keystone.service[2241745]: DEBUG keystone.common.rbac_enforcer.enforcer [None req-d6a5f8b7-8b48-4569-8bc7-1c2aab734340 service placement] RBAC: Authorizing `identity:validate_token()` {{(pid=2241745) enforce_call /opt/stack/keystone/keystone/common/rbac_enforcer/enforcer.py:501}}
Aug 12 17:20:40 ubuntu devstack@keystone.service[2241745]: DEBUG keystone.common.rbac_enforcer.enforcer [None req-d6a5f8b7-8b48-4569-8bc7-1c2aab734340 service placement] RBAC: Authorization granted {{(pid=2241745) enforce_call /opt/stack/keystone/keystone/common/rbac_enforcer/enforcer.py:512}}
Aug 12 17:20:40 ubuntu devstack@keystone.service[2241745]: [pid: 2241745|app: 0|req: 608/1219] 10.132.239.242 () {60 vars in 1360 bytes} [Wed Aug 12 17:20:39 2026] GET /identity/v3/auth/tokens => generated 3137 bytes in 216 msecs (HTTP/1.1 200) 6 headers in 380 bytes (1 switches on core 0)
