Aug 13 07:02:20 ubuntu cinder-volume[2243461]: 2026-08-13 07:02:20.431 2243461 ERROR cinder.service [-] Manager for service cinder-volume ubuntu@nimble is reporting problems, not sending heartbeat. Service will appear "down".
Aug 13 07:02:27 ubuntu cinder-volume[2243461]: DEBUG oslo_service.periodic_task [None req-ea177b8b-7542-4b3a-be74-61f1a594b999 None None] Running periodic task VolumeManager.publish_service_capabilities {{(pid=2243461) run_periodic_tasks /opt/stack/data/venv/lib/python3.12/site-packages/oslo_service/periodic_task.py:254}}
Aug 13 07:02:27 ubuntu cinder-volume[2243461]: WARNING cinder.volume.manager [None req-ea177b8b-7542-4b3a-be74-61f1a594b999 None None] Update driver status failed: (config name nimble) is uninitialized.
Aug 13 07:02:27 ubuntu cinder-volume[2243461]: DEBUG oslo_service.periodic_task [None req-ea177b8b-7542-4b3a-be74-61f1a594b999 None None] Running periodic task VolumeManager._thread_info {{(pid=2243461) run_periodic_tasks /opt/stack/data/venv/lib/python3.12/site-packages/oslo_service/periodic_task.py:254}}
Aug 13 07:02:27 ubuntu cinder-volume[2243461]: DEBUG cinder.volume.manager [None req-ea177b8b-7542-4b3a-be74-61f1a594b999 None None] thread count: 4 {{(pid=2243461) _thread_info /opt/stack/cinder/cinder/volume/manager.py:5472}}
Aug 13 07:02:27 ubuntu cinder-volume[2243461]: DEBUG cinder.volume.manager [None req-ea177b8b-7542-4b3a-be74-61f1a594b999 None None] thread info: [<_MainThread(MainThread, started 134487819948160)>, <Thread(Thread-1 (_beat_forever_until_stopped), started daemon 134487703661504)>, <Thread(Thread-3 (_runner), started daemon 134487703247104)>, <Thread(Thread-5 (_runner), started daemon 134487703327360)>] {{(pid=2243461) _thread_info /opt/stack/cinder/cinder/volume/manager.py:5473}}
