Aug 09 06:19:33 ubuntu cinder-scheduler[1488094]: DEBUG cinder.scheduler.host_manager [None req-c2bca1f8-75a6-49bd-aed5-5aad04228111 None None] Received backup service update from ubuntu: {'backend_state': True, 'driver_name': 'cinder.backup.drivers.swift.SwiftBackupDriver', 'availability_zone': 'nova'} {{(pid=1488094) update_service_capabilities /opt/stack/cinder/cinder/scheduler/host_manager.py:598}}
