Aug 06 04:49:31 ubuntu cinder-scheduler[1488094]: DEBUG cinder.scheduler.host_manager [None req-5e69b298-3d0f-4165-84c9-f3a287617839 None None] Received backup service update from ubuntu: {'backend_state': True, 'driver_name': 'cinder.backup.drivers.swift.SwiftBackupDriver', 'availability_zone': 'nova'} {{(pid=1488094) update_service_capabilities /opt/stack/cinder/cinder/scheduler/host_manager.py:598}}
