Aug 06 16:33:45 ubuntu devstack@keystone.service[1422801]: DEBUG dbcounter [-] [1422801] Writing DB stats keystone:SELECT=1 {{(pid=1422801) stat_writer /opt/stack/data/venv/lib/python3.12/site-packages/dbcounter.py:115}}
