Aug 08 18:00:33 ubuntu cinder-scheduler[1488094]: DEBUG cinder.scheduler.host_manager [None req-0bc79804-c688-4bbc-8ade-b415303f805a None None] Received backup service update from ubuntu: {'backend_state': True, 'driver_name': 'cinder.backup.drivers.swift.SwiftBackupDriver', 'availability_zone': 'nova'} {{(pid=1488094) update_service_capabilities /opt/stack/cinder/cinder/scheduler/host_manager.py:598}}
