Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.server.flask.request_processing.middleware.auth_context [None req-12992799-6d7b-4f4e-b5b2-d9d75839f4c6 None None] Authenticating user token {{(pid=1422801) process_request /opt/stack/data/venv/lib/python3.12/site-packages/keystonemiddleware/auth_token/__init__.py:406}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.common.fernet_utils [None req-12992799-6d7b-4f4e-b5b2-d9d75839f4c6 None None] Loaded 2 Fernet keys from /etc/keystone/fernet-keys/, but `[fernet_tokens] max_active_keys = 3`; perhaps there have not been enough key rotations to reach `max_active_keys` yet? {{(pid=1422801) load_keys /opt/stack/keystone/keystone/common/fernet_utils.py:297}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.server.flask.request_processing.middleware.auth_context [None req-12992799-6d7b-4f4e-b5b2-d9d75839f4c6 None None] Validating token access rules against request {{(pid=1422801) validate_allowed_request /opt/stack/data/venv/lib/python3.12/site-packages/keystonemiddleware/auth_token/__init__.py:544}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.server.flask.request_processing.middleware.auth_context [None req-b07e0cbc-ceab-469e-a66a-da2b7e745972 service placement] RBAC: auth_context: {'token': <TokenModel (audit_id=0g14wzaORdqOk4fzyvQReQ, audit_chain_id=['0g14wzaORdqOk4fzyvQReQ']) at 0x76483a409160>, 'domain_id': None, 'trust_id': None, 'trustor_id': None, 'trustee_id': None, 'domain_name': None, 'group_ids': [], 'user_id': 'aecbbaa1037a40138d5edd62a17c349b', 'user_domain_id': 'default', 'system_scope': None, 'project_id': '4063cfb8c04640ed9a601c07486c0fc8', 'project_domain_id': 'default', 'roles': ['reader', 'member', 'manager', '******', 'service'], 'is_******_project': True, 'service_user_id': None, 'service_user_domain_id': None, 'service_project_id': None, 'service_project_domain_id': None, 'service_roles': []} {{(pid=1422801) fill_context /opt/stack/keystone/keystone/server/flask/request_processing/middleware/auth_context.py:516}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.server.flask.request_processing.req_logging [None req-b07e0cbc-ceab-469e-a66a-da2b7e745972 service placement] REQUEST_METHOD: `GET` {{(pid=1422801) log_request_info /opt/stack/keystone/keystone/server/flask/request_processing/req_logging.py:26}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.server.flask.request_processing.req_logging [None req-b07e0cbc-ceab-469e-a66a-da2b7e745972 service placement] SCRIPT_NAME: `/identity` {{(pid=1422801) log_request_info /opt/stack/keystone/keystone/server/flask/request_processing/req_logging.py:27}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.server.flask.request_processing.req_logging [None req-b07e0cbc-ceab-469e-a66a-da2b7e745972 service placement] PATH_INFO: `/v3/auth/tokens` {{(pid=1422801) log_request_info /opt/stack/keystone/keystone/server/flask/request_processing/req_logging.py:28}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.common.fernet_utils [None req-b07e0cbc-ceab-469e-a66a-da2b7e745972 service placement] Loaded 2 Fernet keys from /etc/keystone/fernet-keys/, but `[fernet_tokens] max_active_keys = 3`; perhaps there have not been enough key rotations to reach `max_active_keys` yet? {{(pid=1422801) load_keys /opt/stack/keystone/keystone/common/fernet_utils.py:297}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.common.rbac_enforcer.enforcer [None req-b07e0cbc-ceab-469e-a66a-da2b7e745972 service placement] RBAC: Authorizing `identity:validate_token()` {{(pid=1422801) enforce_call /opt/stack/keystone/keystone/common/rbac_enforcer/enforcer.py:501}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: DEBUG keystone.common.rbac_enforcer.enforcer [None req-b07e0cbc-ceab-469e-a66a-da2b7e745972 service placement] RBAC: Authorization granted {{(pid=1422801) enforce_call /opt/stack/keystone/keystone/common/rbac_enforcer/enforcer.py:512}}
Aug 09 06:20:44 ubuntu devstack@keystone.service[1422801]: [pid: 1422801|app: 0|req: 2218/4417] 10.132.239.242 () {60 vars in 1360 bytes} [Sun Aug  9 06:20:44 2026] GET /identity/v3/auth/tokens => generated 3137 bytes in 73 msecs (HTTP/1.1 200) 6 headers in 380 bytes (1 switches on core 0)
