Aug 13 02:07:38 ubuntu cinder-scheduler[2241638]: DEBUG cinder.scheduler.host_manager [None req-015522a7-4fcf-4471-832f-893881d2f50f None None] Received backup service update from ubuntu: {'backend_state': True, 'driver_name': 'cinder.backup.drivers.swift.SwiftBackupDriver', 'availability_zone': 'nova'} {{(pid=2241638) update_service_capabilities /opt/stack/cinder/cinder/scheduler/host_manager.py:598}}
