Aug 10 10:13:45 ubuntu cinder-volume[1504531]: 2026-08-10 10:13:45.437 1504531 ERROR cinder.service [-] Manager for service cinder-volume ubuntu@nimble is reporting problems, not sending heartbeat. Service will appear "down".
Aug 10 10:13:51 ubuntu cinder-volume[1504531]: DEBUG oslo_service.periodic_task [None req-0657bed2-56b5-4d6c-a38d-3e23186906d2 None None] Running periodic task VolumeManager.publish_service_capabilities {{(pid=1504531) run_periodic_tasks /opt/stack/data/venv/lib/python3.12/site-packages/oslo_service/periodic_task.py:254}}
Aug 10 10:13:51 ubuntu cinder-volume[1504531]: WARNING cinder.volume.manager [None req-0657bed2-56b5-4d6c-a38d-3e23186906d2 None None] Update driver status failed: (config name nimble) is uninitialized.
Aug 10 10:13:51 ubuntu cinder-volume[1504531]: DEBUG oslo_service.periodic_task [None req-0657bed2-56b5-4d6c-a38d-3e23186906d2 None None] Running periodic task VolumeManager._thread_info {{(pid=1504531) run_periodic_tasks /opt/stack/data/venv/lib/python3.12/site-packages/oslo_service/periodic_task.py:254}}
Aug 10 10:13:51 ubuntu cinder-volume[1504531]: DEBUG cinder.volume.manager [None req-0657bed2-56b5-4d6c-a38d-3e23186906d2 None None] thread count: 4 {{(pid=1504531) _thread_info /opt/stack/cinder/cinder/volume/manager.py:5472}}
Aug 10 10:13:51 ubuntu cinder-volume[1504531]: DEBUG cinder.volume.manager [None req-0657bed2-56b5-4d6c-a38d-3e23186906d2 None None] thread info: [<_MainThread(MainThread, started 134909265113216)>, <Thread(Thread-1 (_beat_forever_until_stopped), started daemon 134909153958912)>, <Thread(Thread-3 (_runner), started daemon 134909148336832)>, <Thread(Thread-5 (_runner), started daemon 134909148417024)>] {{(pid=1504531) _thread_info /opt/stack/cinder/cinder/volume/manager.py:5473}}
